[submodule "alphacamm-readouts"]
	path = alphacamm-readouts
	url = git@github.com:trex-dm/alphacamm-readouts.git
[submodule "alphacamm-simulations"]
	path = alphacamm-simulations
	url = git@github.com:trex-dm/alphacamm-simulations.git
[submodule "alphacamm-analysis"]
	path = alphacamm-analysis
	url = git@github.com:trex-dm/alphacamm-analysis.git
[submodule "alphacamm-geometry"]
	path = alphacamm-geometry
	url = git@github.com:trex-dm/alphacamm-geometry.git
